main {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: auto;
}

main section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top-nav {
    background: linear-gradient(to left, #000000f7, #7f000b);
}

footer {
    background: linear-gradient(to bottom, #2e0b0bf7, #5b0008);
}

.social a {
    background: linear-gradient(to left, #000000f7, #7f000b);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% 0%;

}

.card_1 {
    display: inline-block;
    position: relative;
    z-index: 1;


    margin: 30px;

    width: 250px;
    height: 250px;
    padding: 2rem;

    filter: grayscale(90%);
    /*background: #6b0f62;*/
    box-shadow: 0 0 20px #211d1d, inset 0 0 1px black;
    overflow: hidden;
}

.card_1:hover {
    transition: all .2s;
    /*background: linear-gradient(to left, #ff01f2, #cd49ee);*/
    filter: grayscale(30%);

}

.card-title {
    position: absolute;
    bottom: 0;
    margin: auto;
    visibility: hidden;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 32px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transform: translateY(40px);
}

.card_1:hover .card-title {
    visibility: visible;
    transition: .5s all;
    transform: translateY(0);
}

a .card-title {
    color: white;
}

a .card-title {
    color: white;
}

a#indexCard:active {
    color: white;
}

pre {
  font-family: 'Lora', serif ;
  text-align: justify;
}

h1 {
    font-family: 'Lora', serif ;
    text-align: center;
}

footer p {
    margin-left: 7px;
}

